#map {
    height: 90%;
    width: 75%;
    padding-top: 10%;
    display: inline-block;
    align: left;
}

#buttons {
    align: right;
    valign: top;
    padding-top: 0%;
    display: inline-block;
}

#panel {
    height: 10%;
    width: 100%
    background-color: "#F78181";
}

html, body {
    height: 100%;      
}