<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script type = "text/javascript" src = "{{ url_for('static', filename='js/main.js')}}"></script>
    </head>
    <body>
        <div id = "panel">Проектирование полета дрона, для покрытия территории</div>
        <div id="map"></div>
        <div id = "buttons">
            <button onClick='sendInfo()'>SEND NUDES</button>
            <button onClick='sendData()'>SOLVE</button>
            <button onClick='clearAll()'>CLEAR BORDER</button>
            <button onClick='clearShit()'>CLEAR ALL</button>
        </div>
        <div is = "inputs">
            <input type = "number" id = "angle" placeholder = "Angle of view, degrees"/>
            <input type = "number" id = "height" placeholder = "Height, meters"/>
            <input type = "number" id = "ratio" placeholder = "Aspect ratio"/>
            <input type = "number" id = "overlapping" placeholder = "Overlapping ratio"/>
            <input type = "number" id = "battery" placeholder = "Battery, mah">
            <input type = "number" id = "photo" placeholder = "charge per 1km">
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBON6aGMLvVDk2GCBCM7AYGwfNti7fQVTs&callback=initMap"></script>
  </body>
</html>